BR2_x86_64=y
BR2_x86_corei7=y
BR2_CCACHE=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ARA_PATH)/board/ara/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_ARA_PATH)/board/ara/qemu_x86_64/overlay_s50.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.kernel.org/pub/scm/linux/kernel/git/gregkh/staging.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="staging-next"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ARA_PATH)/board/ara/qemu_x86_64/linux-staging-next.config"
BR2_PACKAGE_GDB=y
BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_LIBSOC=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_TMUX=y
BR2_TARGET_ROOTFS_EXT2=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_GBSIM=y
BR2_PACKAGE_LIBUSBG=y
BR2_PACKAGE_GBUTILS=y
